# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
*.sqlite
*.sqlite3
instance/

# Node
node_modules/
dist/
.DS_Store
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

.venv/